body {
    font-family: sans-serif;
    background-color: #DEDEDE;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
  }
  


#nav img{
	width: 30px;
	padding: 5px;
	cursor: pointer;
}
#nav h5 {
	margin-bottom: 0;
	margin-right: 10px;
}

#nav ul li {
	float: left;
}

#nav svg {
	margin-right: 10px;
}

#nav a {
	color: black;
}


  .category img {
    max-width: 30%;
    height: auto;
    text-align: center;
    position: relative;
    left: 500px;
    margin-bottom: 30px;
  }
  
  .category-title {
    text-align: center;
    font-weight: normal;
    width: 80%;
    margin: 80px;
    background-color: khaki;
    padding: 20px;
    font-size: 2.6rem;
  }
  

  .cateroty {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgb(202, 223, 87);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }
  
  .category h2 {
    text-align: center;
    margin: 0 0 6px 0;
  }
  

  .category button {
      text-align: center;
      position: relative;
      left: 700px;
  }
  .category a {
      text-decoration-style: none;
      color: #0f0f0f;
  }

  
#nav img{
	width: 30px;
	padding: 5px;
	cursor: pointer;
}
#nav h5 {
	margin-bottom: 0;
	margin-right: 10px;
}

#nav ul li {
	float: left;
}

#nav svg {
	margin-right: 10px;
}

#nav a {
	color: black;
}
