
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(9.jpg) no-repeat;
  background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%,-50%);
  color: #1b15153b;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 4px solid #535350ee;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
}
.textbox input{
  border: none;
  outline: none;
  border-bottom: 2px solid #6e7068ee;
  margin-bottom: 30px;
  background: none;
  font-size: 18px;
  width: 90%;
  float: right;
  margin: 0 10px;
}
.btn{
  width: 100%;
}